<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
     <handlers>
      <add name="iisnode" path="currentConfigs.js" verb="*" modules="iisnode" />
    </handlers>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
			<mimeMap fileExtension=".otf" mimeType="font/otf" />
        </staticContent>
    </system.webServer>
    <system.webServer>
    <rewrite>
        <rules>
            <rule name="Get dynamic configs in server environment">
                <match url="configs.json" ignoreCase="true"/>
                <action type="Redirect" url="currentConfigs.js" redirectType="Permanent" appendQueryString="true" />
            </rule>
            <rule name="angular cli routes" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
            </rule>
            <rule name="Redirect old-domain to new-domain" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^snswebapp.azurewebsites.net$" />
          </conditions>
          <action type="Redirect" url="https://thirdeye.mobiliya.com/" appendQueryString="false" redirectType="Permanent" />
        </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration> 